flow2.txt
[{"id":"946bd05b.960e1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b0fdac7f.0cd26","type":"inject","z":"946bd05b.960e1","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":256,"wires":[["8c563180.b17ff"]]},{"id":"8c563180.b17ff","type":"function","z":"946bd05b.960e1","name":"Payload","func":"msg.headers={\n    deviceKey: \"AwzlKFwLjnU8Xf7H\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":304.5,"y":324,"wires":[["b325892e.f0a988"]]},{"id":"b325892e.f0a988","type":"http request","z":"946bd05b.960e1","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D40Fkfk4/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":527.5,"y":327,"wires":[["55433391.4928bc","46706e5b.d3405"]]},{"id":"46706e5b.d3405","type":"debug","z":"946bd05b.960e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695.5,"y":392,"wires":[]},{"id":"55433391.4928bc","type":"http response","z":"946bd05b.960e1","name":"","statusCode":"","headers":{},"x":702.5,"y":326,"wires":[]}]