flow1.txt
[{"id":"c0196d5b.9b582","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e0f9291.81170c","type":"rpi-gpio out","z":"c0196d5b.9b582","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":671.5,"y":396,"wires":[]},{"id":"6256ba75.674924","type":"debug","z":"c0196d5b.9b582","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":551.5,"y":196,"wires":[]},{"id":"da58e3ab.012a6","type":"rpi-gpio in","z":"c0196d5b.9b582","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":55,"y":346,"wires":[["6256ba75.674924","15ffa494.b48b6b"]]},{"id":"15ffa494.b48b6b","type":"switch","z":"c0196d5b.9b582","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":266.5,"y":400,"wires":[["cda9bbd1.9df688"],["887d8e00.a8ae1"]]},{"id":"cda9bbd1.9df688","type":"change","z":"c0196d5b.9b582","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":468.5,"y":397,"wires":[["5e0f9291.81170c"]]},{"id":"887d8e00.a8ae1","type":"change","z":"c0196d5b.9b582","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":469.5,"y":448,"wires":[["5e0f9291.81170c"]]}]